#seccionGenero {
  background-image: url("../img/seccionCategorias-wallpaper.jpg");
  background-size: auto;

  h2 {
    text-align: center;

    padding: 0px 25px;

    font-family: "Anton", sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: 0.3px black;
    color: #fdddaa;
    letter-spacing: 1px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;

    margin: 20px 15px;
    padding: 0px;

    width: 22%;
    height: 60%;

    background-color: white;

    img {
      width: 100%;
      padding: 10px;

      object-fit: cover;
    }
  }
}

.seccionGenero__articulo--nene h3 {
  font-size: 1rem;

  -webkit-text-stroke: 0.001px #544db3a9;
  color: black;
}

.seccionGenero__articulo--nena h3 {
  font-size: 1rem;

  -webkit-text-stroke: 0.001px #d06f9bb1;
  color: black;
}

.seccionGenero__boton--verMas {
  border: solid 1px black;

  width: 80%;

  text-align: center;
  text-decoration: none;

  &:hover {
    background-image: url("../img/seccionCategorias-wallpaper.jpg");

    background-size: cover;
  }
}

.seccionGenero__nene {
  box-shadow: 0px 0px 15px 0px #544db3;
}

.seccionGenero__nena {
  box-shadow: 0px 0px 15px 0px #d06f9b;
}

// Seccion Pijamas Nene

#seccionPijamasNene {
  background-image: url("../img/azul-pastel-background.jpg");
  background-size: auto;

  h2 {
    text-align: center;

    padding: 15px 0;

    font-family: "Anton", sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;

    color: white;
    -webkit-text-stroke: 1px #544db3a9;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: solid 3px black;
    border-radius: 20px;

    width: 30%;
    padding: 10px;
    margin: 10px;

    background-color: white;

    font-family: "Anton", sans-serif;
    font-weight: 400;

    img {
      width: 110px;
      padding: 10px;

      object-fit: cover;
    }

    a {
      border: solid 2px black;
      padding: 5px;
      text-decoration: none;
    }
  }
}

#seccionPijamasNene .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

// Seccion Pijamas Nena

#seccionPijamasNena {
  background-image: url("../img/rosa-pastel-background.jpg");
  background-size: auto;

  h2 {
    text-align: center;

    padding: 15px 0;

    font-family: "Anton", sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;

    color: white;
    -webkit-text-stroke: 1px #544db3a9;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: solid 3px black;
    border-radius: 20px;

    width: 30%;
    padding: 10px;
    margin: 10px;

    background-color: white;

    font-family: "Anton", sans-serif;
    font-weight: 400;

    img {
      width: 110px;
      padding: 10px;

      object-fit: cover;
    }
    a {
      border: solid 2px black;
      padding: 5px;
      text-decoration: none;
    }
  }
}

#seccionPijamasNena .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

// Seccion Pijamas Unisex

#seccionPijamasUnisex {
  background-image: url("../img/verde-pastel-background.jpg");
  background-size: auto;

  h2 {
    text-align: center;

    padding: 15px 0;

    font-family: "Anton", sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;

    color: white;
    -webkit-text-stroke: 1px #544db3a9;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: solid 3px black;
    border-radius: 20px;

    width: 30%;
    padding: 10px;
    margin: 10px;

    background-color: white;

    font-family: "Anton", sans-serif;
    font-weight: 400;

    img {
      width: 110px;
      padding: 10px;

      object-fit: cover;
    }

    a {
      border: solid 2px black;
      padding: 5px;
      text-decoration: none;
    }
  }
}

#seccionPijamasUnisex .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
