header {
  background-image: linear-gradient(
    to top,
    #{$main-gradient-color} 0%,
    #{$main-color} 100%
  );

  div:nth-child(2) {
    height: 10vh;
  }

  h1 {
    color: $main-color;

    font-family: "Fredoka One", cursive;
    letter-spacing: 7px;

    text-align: center;
  }
}
