@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200;400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: "Anton", sans-serif;
  font-family: "Nunito", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  text-decoration: none;
  color: black;
}

/* ------HEADER----- */

/* header nav {
  background-color: #fdddaa;
} */

header {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

header div:nth-child(2) {
  height: 10vh;
}

h1 {
  color: #fdddaa;

  font-family: "Fredoka One", cursive;
  letter-spacing: 7px;

  text-align: center;
}

/* -------MAIN------- */

h2 {
  text-align: center;
  font-size: 1rem;

  background-color: #fdddaa;

  padding: 10px;
}

h3 {
  text-align: center;
}

#seccionCategorias {
  background-image: url(../img/seccionCategorias-wallpaper.jpg);
}

#seccionPd {
  background-image: url(../img/azul-pastel-background.jpg);
}

.card {
  margin-left: 5%;
}

aside {
  height: 100%;
}

.seccionTrending__contenedor--cards {
  height: calc(100% - 39.19px);
}

.trending {
  background-color: #a18cd1;
}

#seccionPromociones article img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/* -----VESTIDOS.HTML------- */

#seccionVestidos {
  background-image: url("../img/seccionCategorias-wallpaper.jpg");
}

.seccionVestidos__contenedor--main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#seccionVestidos h2 {
  text-align: center;

  padding: 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #363739;
}

#seccionVestidos article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  border: solid 3px black;
  border-radius: 25px;

  padding: 10px;
  margin: 22px;
  width: 150px;

  background-color: white;

  font-family: "Anton", sans-serif;
}

#seccionVestidos img {
  width: 80%;
  padding: 10px;

  object-fit: cover;
}

#seccionVestidos article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

.seccionVestidos__contenedor--2 {
  background-color: orange;
}

.seccionVestidos__contenedor--2 h3 {
  background-color: #fdddaa;

  padding: 8px;
}

/* ------PIJAMAS.HTML------- */

#seccionGenero {
  background-image: url("../img/seccionCategorias-wallpaper.jpg");
  background-size: auto;
}

#seccionGenero h2 {
  text-align: center;

  padding: 0px 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  -webkit-text-stroke: 0.3px black;
  color: #fdddaa;
  letter-spacing: 1px;
}

#seccionGenero div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#seccionGenero article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  overflow: hidden;

  margin: 20px 15px;
  padding: 0px;

  width: 22%;
  height: 60%;

  background-color: white;
}

.seccionGenero__articulo--nene h3 {
  font-size: 1rem;

  -webkit-text-stroke: 0.001px #544db3a9;
  color: black;
}

.seccionGenero__articulo--nena h3 {
  font-size: 1rem;

  -webkit-text-stroke: 0.001px #d06f9bb1;
  color: black;
}

#seccionGenero article img {
  width: 100%;
  padding: 10px;

  object-fit: cover;
}

.seccionGenero__boton--verMas {
  border: solid 1px black;

  width: 80%;

  text-align: center;
  text-decoration: none;
}

.seccionGenero__boton--verMas:hover {
  background-image: url("../img/seccionCategorias-wallpaper.jpg");

  background-size: cover;
}

.seccionGenero__nene {
  box-shadow: 0px 0px 15px 0px #544db3;
}

.seccionGenero__nena {
  box-shadow: 0px 0px 15px 0px #d06f9b;
}

/* SECCION PIJAMAS NENE */

#seccionPijamasNene {
  background-image: url("../img/azul-pastel-background.jpg");
  background-size: auto;
}

#seccionPijamasNene h2 {
  text-align: center;

  padding: 15px 0;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionPijamasNene div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#seccionPijamasNene article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: solid 3px black;
  border-radius: 20px;

  width: 30%;
  padding: 10px;
  margin: 10px;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionPijamasNene article img {
  width: 110px;
  padding: 10px;

  object-fit: cover;
}

#seccionPijamasNene article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionPijamasNene .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* SECCION PIJAMAS NENA */

#seccionPijamasNena {
  background-image: url("../img/rosa-pastel-background.jpg");
  background-size: auto;
}

#seccionPijamasNena h2 {
  text-align: center;

  padding: 15px 0;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionPijamasNena div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#seccionPijamasNena article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: solid 3px black;
  border-radius: 20px;

  width: 30%;
  padding: 10px;
  margin: 10px;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionPijamasNena article img {
  width: 110px;
  padding: 10px;

  object-fit: cover;
}

#seccionPijamasNena article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionPijamasNena .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* SECCION PIJAMAS UNISEX */

#seccionPijamasUnisex {
  background-image: url("../img/verde-pastel-background.jpg");
  background-size: auto;
}

#seccionPijamasUnisex h2 {
  text-align: center;

  padding: 15px 0;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionPijamasUnisex div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#seccionPijamasUnisex article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: solid 3px black;
  border-radius: 20px;

  width: 30%;
  padding: 10px;
  margin: 10px;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionPijamasUnisex article img {
  width: 110px;
  padding: 10px;

  object-fit: cover;
}

#seccionPijamasUnisex article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionPijamasUnisex .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* -------ZAPATOS.HTML------- */

#seccionZapatosNene {
  height: 750px;

  background-image: url("../img/azul-pastel-background.jpg");
  background-size: auto;
}

#seccionZapatosNene div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 70%;

  margin-left: 10%;
}

#seccionZapatosNene h2 {
  text-align: center;

  padding: 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionZapatosNene article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  border: solid 3px black;

  border-radius: 25px;

  padding: 10px;
  margin: 22px 25px;

  width: 20%;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionZapatosNene .seccionZapatosNene__articulo5 {
  margin-left: 0px;
}

#seccionZapatosNene img {
  width: 110px;
  padding: 10px;
}

#seccionZapatosNene article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionZapatosNene article a:hover {
  background-color: paleturquoise;
}

#seccionZapatosNene .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*  SECCION ZAPATOS NENA */

#seccionZapatosNena {
  height: 750px;

  background-image: url("../img/rosa-pastel-background.jpg");
  background-size: auto;
}

#seccionZapatosNena div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 70%;

  margin-left: 10%;
}

#seccionZapatosNena h2 {
  text-align: center;

  padding: 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionZapatosNena article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  border: solid 3px black;

  border-radius: 25px;

  padding: 10px;
  margin: 22px 30px;

  width: 20%;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionZapatosNena .seccionZapatosNena__articulo5 {
  margin-left: 0px;
}

#seccionZapatosNena img {
  width: 110px;
  padding: 10px;
}

#seccionZapatosNena article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionZapatosNena article a:hover {
  background-color: paleturquoise;
}

#seccionZapatosNena .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* --------CONJUNTOS.HTML------- */

#seccionConjuntosNene {
  height: 450px;

  background-image: url("../img/azul-pastel-background.jpg");
  background-size: auto;
}

#seccionConjuntosNene div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 70%;

  margin-left: 10%;
}

#seccionConjuntosNene h2 {
  text-align: center;

  padding: 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionConjuntosNene article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  border: solid 3px black;

  border-radius: 25px;

  padding: 10px;
  margin: 22px 30px;

  width: 20%;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionConjuntosNene .seccionConjuntosNene__articulo5 {
  margin-left: 0px;
}

#seccionConjuntosNene img {
  width: 110px;
  padding: 10px;
}

#seccionConjuntosNene article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionConjuntosNene article a:hover {
  background-color: paleturquoise;
}

#seccionConjuntosNene .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* SECCION CONJUNTOS NENA */

#seccionConjuntosNena {
  height: 450px;

  background-image: url("../img/rosa-pastel-background.jpg");
  background-size: auto;
}

#seccionConjuntosNena div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 70%;

  margin-left: 10%;
}

#seccionConjuntosNena h2 {
  text-align: center;

  padding: 25px;

  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;

  color: white;
  -webkit-text-stroke: 1px #544db3a9;
}

#seccionConjuntosNena article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;

  border: solid 3px black;

  border-radius: 25px;

  padding: 10px;
  margin: 22px 30px;

  width: 20%;

  background-color: white;

  font-family: "Anton", sans-serif;
  font-weight: 400;
}

#seccionConjuntosNena .seccionConjuntosNena__articulo5 {
  margin-left: 0px;
}

#seccionConjuntosNena img {
  width: 110px;
  padding: 10px;
}

#seccionConjuntosNena article a {
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
}

#seccionConjuntosNena article a:hover {
  background-color: paleturquoise;
}

#seccionConjuntosNena .precioTachado {
  text-decoration: line-through;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* FOOTER */

footer {
  background-color: rgb(42, 37, 37);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-box1 a {
  color: white;
}

.footer-box1,
.footer-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  color: white;
}

.display-none {
  display: none;
}

footer i {
  font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
  /* -----------FOOTER---------- */

  .display-none {
    display: inline-block;
  }

  footer {
    height: 200px;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    background-color: grey;
  }

  .footer-box1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    width: 100%;

    font-size: 1.2rem;
  }

  .footer-box1 div {
    border-right: 3px solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 20px;
  }

  .footer-box1 div span {
    display: inline-block;
  }

  .footer-box2 {
    justify-content: space-between;
  }

  .footer-box2 span {
    text-align: center;
  }
}
